* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Raleway;
  background-color: #e9882d;
}

.heading {
  text-align: center;
  font-size: 2.0em;
  letter-spacing: 1px;
  padding: 40px;
  color: white;
}

.gallery-image {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}
.producto-card {
    width: 380px;
    background-color: #2b150f;
    border: 6px solid #d88b9b;
    border-radius: 25px;
    padding: 20px;
    text-align: center;
    color: white;
}

.producto-img {
    width: 100%;
    height: 250px;
    overflow: hidden;
    border-radius: 20px;
}

.producto-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.producto-nombre {
    font-size: 1.3rem;
    margin-top: 20px;
}

.producto-precio {
    font-size: 1.1rem;
    margin-bottom: 20px;
}

.btn-carrito {
    width: 80%;
    padding: 12px;
    background-color: #f9c255;
    color: black;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 15px;
}

.btn-vermas {
    width: 60%;
    padding: 10px;
    background-color: #d88b9b;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
}

.btn-carrito:hover, 
.btn-vermas:hover {
    transform: scale(1.05);
    transition: 0.2s;
}

.gallery-image img {
  height: 250px;
  width: 350px;
  transform: scale(1.0);
  transition: transform 0.4s ease;
}

.img-box:hover img { 
  transform: scale(1.1);
}



